.kaufman__section-title--theme-dark {
    text-align: center;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: "Helvetica Neue", "Arial", "sansserif";
    margin: auto;
  }