.kaufman__table__text--theme-dark {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: white;
    font-family: "Helvetica Neue", "Arial", "sansserif";
  }