.table__text {
    display: flex;
    margin-top: 20px;
    padding: 0;
    line-height: 1,2px;
    font-size: 18px;
    font-weight: normal;
    font-family: "Helvetica Neue", "Arial", "sansserif";
   }